In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
merged_data_to_load = "Resources/merged_data.csv"

In [3]:
# Read the merged data file and store it in a Pandas DataFrame.
merged_data_df = pd.read_csv(merged_data_to_load)
merged_data_df

C:\Users\Colin\Anaconda3\envs\modelingPD\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (23,28,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,loan_identifier,origination_channel,seller_name,original_interest_rate,original_upb,original_loan_term,origination_date,first_payment_date,original_ltv,original_cltv,...,monthly_reporting_period,current_interest_rate,loan_age,remaining_months_to_legal_maturity,adj_remaining_months_to_maturity,maturity_date,msa,current_loan_delinquency_status,modification_flag,delinquency
0,100000913397,C,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",6,324000,360,2018-09-01,2018-11-01,80,80,...,2019-12-01,5.88,14.0,346.0,346.0,2048-10-01,40140.0,0,N,f
1,100017539727,B,OTHER,5,307000,360,2018-12-01,2019-02-01,90,90,...,2019-12-01,4.75,11.0,349.0,349.0,2049-01-01,26420.0,0,N,f
2,100018053040,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,256000,360,2018-11-01,2019-01-01,90,90,...,2019-12-01,4.88,12.0,348.0,348.0,2048-12-01,0.0,0,N,f
3,100019764317,C,"WELLS FARGO BANK, N.A.",5,248000,360,2018-12-01,2019-02-01,90,90,...,2019-10-01,4.88,9.0,351.0,0.0,2049-01-01,16980.0,X,N,t
4,100019765730,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",4,490000,360,2019-03-01,2019-05-01,67,67,...,2019-12-01,4.25,8.0,352.0,352.0,2049-04-01,41860.0,0,N,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297447,999977469387,C,PENNYMAC CORP.,5,250000,360,2018-12-01,2019-02-01,80,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297448,999978067692,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",5,123000,360,2018-12-01,2019-02-01,95,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297449,999983023544,R,OTHER,5,280000,240,2018-12-01,2019-02-01,69,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297450,999984004377,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,155000,360,2019-01-01,2019-03-01,97,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297451,999997761057,R,QUICKEN LOANS INC.,6,75000,360,2018-12-01,2019-02-01,43,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#determine null values 
merged_data_df.isnull().sum()

loan_identifier                              0
origination_channel                          0
seller_name                                  0
original_interest_rate                       0
original_upb                                 0
original_loan_term                           0
origination_date                             0
first_payment_date                           0
original_ltv                                 0
original_cltv                                0
number_of_borrowers                          0
original_dir                                96
borrower_credit_score_at_origination       385
first_time_home_buyer_indicator              0
loan_purpose                                 0
property_type                                0
number_of_units                              0
occupancy_type                               0
property_state                               0
zip_code_short                               0
primary_mortgage_insurance_percent      185901
product_type                                 0
relocation_mortgage_indicator                0
monthly_reporting_period                197004
current_interest_rate                   197004
loan_age                                197004
remaining_months_to_legal_maturity      197004
adj_remaining_months_to_maturity        197004
maturity_date                           197004
msa                                     197004
current_loan_delinquency_status         197004
modification_flag                       197004
delinquency                             197004
dtype: int64

In [5]:
#determine data type
merged_data_df.dtypes

loan_identifier                           int64
origination_channel                      object
seller_name                              object
original_interest_rate                    int64
original_upb                              int64
original_loan_term                        int64
origination_date                         object
first_payment_date                       object
original_ltv                              int64
original_cltv                             int64
number_of_borrowers                       int64
original_dir                            float64
borrower_credit_score_at_origination    float64
first_time_home_buyer_indicator          object
loan_purpose                             object
property_type                            object
number_of_units                           int64
occupancy_type                           object
property_state                           object
zip_code_short                            int64
primary_mortgage_insurance_percent      float64
product_type                             object
relocation_mortgage_indicator            object
monthly_reporting_period                 object
current_interest_rate                   float64
loan_age                                float64
remaining_months_to_legal_maturity      float64
adj_remaining_months_to_maturity        float64
maturity_date                            object
msa                                     float64
current_loan_delinquency_status          object
modification_flag                        object
delinquency                              object
dtype: object

In [6]:
# Drop null values instead of columns to obtain a smaller dataset for the dashboard
clean_df = merged_data_df.dropna()

In [7]:
clean_df

,loan_identifier,origination_channel,seller_name,original_interest_rate,original_upb,original_loan_term,origination_date,first_payment_date,original_ltv,original_cltv,...,monthly_reporting_period,current_interest_rate,loan_age,remaining_months_to_legal_maturity,adj_remaining_months_to_maturity,maturity_date,msa,current_loan_delinquency_status,modification_flag,delinquency
1,100017539727,B,OTHER,5,307000,360,2018-12-01,2019-02-01,90,90,...,2019-12-01,4.75,11.0,349.0,349.0,2049-01-01,26420.0,0,N,f
2,100018053040,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,256000,360,2018-11-01,2019-01-01,90,90,...,2019-12-01,4.88,12.0,348.0,348.0,2048-12-01,0.0,0,N,f
3,100019764317,C,"WELLS FARGO BANK, N.A.",5,248000,360,2018-12-01,2019-02-01,90,90,...,2019-10-01,4.88,9.0,351.0,0.0,2049-01-01,16980.0,X,N,t
6,100021299215,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,264000,360,2018-10-01,2018-12-01,95,95,...,2019-12-01,4.63,13.0,347.0,347.0,2048-11-01,26420.0,0,N,f
8,100025729502,R,OTHER,5,174000,360,2018-12-01,2019-02-01,97,97,...,2019-12-01,5.25,11.0,349.0,348.0,2049-01-01,0.0,0,N,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100789,404556240036,C,PENNYMAC CORP.,5,247000,360,2019-02-01,2019-04-01,95,95,...,2019-12-01,5.00,9.0,351.0,351.0,2049-03-01,29820.0,0,N,f
100790,404557468696,R,OTHER,5,184000,360,2019-01-01,2019-03-01,95,95,...,2019-12-01,4.50,10.0,350.0,350.0,2049-02-01,16700.0,0,N,f
100795,404565318850,C,"WELLS FARGO BANK, N.A.",5,394000,360,2018-12-01,2019-02-01,95,95,...,2019-12-01,4.75,11.0,349.0,349.0,2049-01-01,35840.0,0,N,f
100796,404567391051,R,OTHER,5,151000,360,2019-02-01,2019-04-01,96,96,...,2019-12-01,4.55,9.0,351.0,0.0,2049-03-01,24020.0,X,N,t
100797,404567549592,C,DITECH FINANCIAL LLC,5,322000,360,2019-01-01,2019-03-01,95,95,...,2019-08-01,4.88,6.0,354.0,0.0,2049-02-01,19740.0,X,N,t

In [8]:
#drop columns that are not useful for the analysis
clean_data_df= clean_df.drop(['origination_channel', 'monthly_reporting_period' , 'modification_flag', 'loan_age', 'msa', 'relocation_mortgage_indicator', 'original_cltv' , 'original_ltv' , 'zip_code_short', 'original_loan_term' ], axis=1)

In [9]:
clean_data_df

,loan_identifier,seller_name,original_interest_rate,original_upb,origination_date,first_payment_date,number_of_borrowers,original_dir,borrower_credit_score_at_origination,first_time_home_buyer_indicator,...,occupancy_type,property_state,primary_mortgage_insurance_percent,product_type,current_interest_rate,remaining_months_to_legal_maturity,adj_remaining_months_to_maturity,maturity_date,current_loan_delinquency_status,delinquency
1,100017539727,OTHER,5,307000,2018-12-01,2019-02-01,1,44.0,722.0,N,...,P,TX,25.0,FRM,4.75,349.0,349.0,2049-01-01,0,f
2,100018053040,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,256000,2018-11-01,2019-01-01,2,41.0,728.0,N,...,S,NC,25.0,FRM,4.88,348.0,348.0,2048-12-01,0,f
3,100019764317,"WELLS FARGO BANK, N.A.",5,248000,2018-12-01,2019-02-01,2,40.0,730.0,Y,...,P,IL,25.0,FRM,4.88,351.0,0.0,2049-01-01,X,t
6,100021299215,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,264000,2018-10-01,2018-12-01,2,45.0,710.0,N,...,P,TX,30.0,FRM,4.63,347.0,347.0,2048-11-01,0,f
8,100025729502,OTHER,5,174000,2018-12-01,2019-02-01,2,37.0,747.0,Y,...,P,IN,35.0,FRM,5.25,349.0,348.0,2049-01-01,0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100789,404556240036,PENNYMAC CORP.,5,247000,2019-02-01,2019-04-01,1,49.0,723.0,N,...,P,NV,30.0,FRM,5.00,351.0,351.0,2049-03-01,0,f
100790,404557468696,OTHER,5,184000,2019-01-01,2019-03-01,1,36.0,757.0,Y,...,P,SC,30.0,FRM,4.50,350.0,350.0,2049-02-01,0,f
100795,404565318850,"WELLS FARGO BANK, N.A.",5,394000,2018-12-01,2019-02-01,2,31.0,809.0,Y,...,P,FL,30.0,FRM,4.75,349.0,349.0,2049-01-01,0,f
100796,404567391051,OTHER,5,151000,2019-02-01,2019-04-01,1,50.0,692.0,N,...,P,NY,25.0,FRM,4.55,351.0,0.0,2049-03-01,X,t
100797,404567549592,DITECH FINANCIAL LLC,5,322000,2019-01-01,2019-03-01,1,40.0,731.0,Y,...,P,CO,25.0,FRM,4.88,354.0,0.0,2049-02-01,X,t

In [10]:
# saving the dataframe 
clean_data_df.head(20000).to_csv('Resources/cleaned_merged_data.csv')

In [11]:
df = pd.read_csv ('Resources/cleaned_merged_data.csv')